*{
  margin: 0%;
  padding: 0;
  font-family: monospace;
  }
  body{
      background-color: rgb(0, 0, 0);
      min-height: 100vh;
      overflow-x: hidden;
  
  }
  
  
  .character{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
    
  }
  #text{
      position: absolute;
      color: antiquewhite;
      font-size: 100px;
      top:30%;
    left:40%;
      
  }
  .character img{
      position: absolute;
      top:0%;
      left:5%;
      width:100%;
    
     
  }
  
   
    body {
      font-family: 'Pacifico';
      display: flex;
      justify-content: center;
    }
    
    canvas {
      border: 1x solid #0a3cda;
      margin: 10px;
  
  
    }
    *{
      margin: 0%;
      padding: 0;
      font-family: monospace;
      }
  body
  {
          background-color: rgb(0, 0, 0);
          min-height: 100vh;
          overflow-x: hidden;
      }
  .contact img
  {
      height:120px;
     width:fit-content;
  }
  .contact{
      display: flex;
   flex-direction: column;
      padding: 5%;
  }
  .people
  {
      display: flex;
   flex-direction: row; 
   justify-content:space-evenly;
   margin-top: 2%;
  }
  .people :hover{
      transform: scale(1.02);
  }
  .chair{
      display: flex;
      flex-direction: column;
  }
  .vice{
      display: flex;
      flex-direction: column;
  }
  .contact a{
      color: antiquewhite;
      margin : 5px;
      margin-left : 20px;
      font-size: 25px;
      text-decoration: none;
  }
  .contact a :active{
      text-decoration: none;
  }
  .contact a :hover{
      text-decoration: none;
  }
  .contact h1{
      color: antiquewhite;
      margin : 5px;
      margin-left : 5px;
      font-size: 30px;
      text-align:center;
  }
  .chair :hover
  {
      cursor: grab;
     
  }
  .vice :hover
  {
      cursor: grab;
     
  }
  
  .chair
  {
      margin-bottom: 5%;
  }
  
  
  .sponsers
  {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .bg {
      width:500px;
      height: 300px;
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-size: 300% 300%;
      background-image: linear-gradient(-45deg,#9742ff 10%, #000000 25%, #000000 60%, #9742ff 100%);
      -webkit-animation: bganimate 5s ease infinite;
              animation: bganimate 5s ease infinite;
    }
    @-webkit-keyframes bganimate {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    @keyframes bganimate{
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .bg h2
    {
      color: antiquewhite;
      font-size: 30px;
      margin-top: 5px;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .bg a{
      animation: glitch 1s linear infinite;
    }
  .sponsers h1{
      margin-top:10%;
  
  }
    @keyframes  glitch {
      0%, 65% {
        transform: translate(2px, 0) skew(0deg);
      }
      5%, 60% {
        transform: translate(-2px, 0) skew(0deg);
      }
      64% {
        transform: translate(0, 0) skew(5deg);
      }
    }
    @media screen and (max-width: 660px) {
      .people
  {
      padding: 3%;
      display: flex;
   flex-direction: column; 
  
   margin-top: 2%;
   align-items: center;
  }
  .bg {
      width:300px;
      height: 200px;
  }
  .contact a
  {
      font-size: 12px;
  }
  
    }
    @media screen and (max-width: 1000px) {
      .contact img {
      
          height: 90px;
          width: fit-content;
      
      }
      .contact a
      {
          font-size: 21git px;
      }
      }
      canvas {
        border: 1x solid #0a3cda;
        margin: 10px;
    
    
      }
   